#ruleOverview .title {
  fill: #fff;
  font-style: italic;
}
#projectionView .title {
  fill: #fff;
  font-style: italic;
}

#ruleOverview .dimension {
  cursor: ew-resize;
}

#ruleOverview .lab {
  fill: #fff;
}
#ruleOverview .background {
  fill: #fbfbfb;
}

#projectionView .background {
  fill: #fbfbfb;
}

#projectionView svg, canvas{
	position: absolute;
}

#projectionView .cluster .lab{
  fill: #fff;
}

#projectionView polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}



#ruleOverview line {
  stroke: #d6d6d6;
}

#ruleOverview tspan.sort { fill: #636363; cursor: pointer; opacity: 1; }
#ruleOverview tspan.sort:hover { fill: #000; }


.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}


.rowBg {
	fill: yellow;
}

.row {
	cursor: pointer;
}

.row:hover {
  stroke:yellow;
}

.cellHighlight {
	stroke: yellow;
    stroke-width: 4;
}


.column {
	/*cursor: pointer;*/
  cursor: ns-resize;
}